<h2>Episodes Search</h2>
<%= link_to "Log Out", logout_path %><br />
<%= link_to "Create New Episode", '/episodes/new' %>
<%= link_to_function "Back", "history.back()" %>
<hr>
Display all episodes' information<br />
<%= form_tag episodes_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :id => nil %>
  </p>
<% end %>
<table width="0%" border="0">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Type</th>
    <th scope="col">Firstname</th>
    <th scope="col">Lastname</th>
    <th scope="col">Date</th>
  </tr>
  <% if !@episodes.blank? %>
  <% for item in @episodes %>
  <tr>
    <td><%= link_to item.id, episode_path(item) %></td>
    <td><%= item.episode_type.name %></td>
    <td><%= item.patient.firstname %></td>
    <td><%= item.patient.lastname %></td>
    <td><%= item.created_at.strftime("%d/%m/%Y") %></td>
  </tr>
  <% end %>
<% else %>
<% end %>
</table>