<h2>Welcome <%= $user_first_name %></h2>
<%= link_to "Log Out", logout_path %><br />
<hr>
<%= link_to "Patients Search", '/patients/' %>
<%= link_to "Episodes Search", '/episodes/' %>
<%= link_to "Users Search", '/users' %><br />
